body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
}

h1 {
    color: #1877f2;
    /* Color azul de Facebook */
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

input,
button {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #1877f2;
    /* Color azul de Facebook */
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #0d5cb6;
    /* Cambio de color al pasar el ratón */
}

#mensaje {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    z-index: 999;
}